<template [ngIf]="moment != null">

<h3 class="page-header">Moment #{{moment.id}}</h3>

<div class="row">
     <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="moment.title" required>
        <div class="alert alert-danger" [hidden]="title.valid">Title is required</div>
      </div>

    <div class="col-md-12">
        <p><strong>Date</strong></p>
        <p>{{moment.posted}}</p>
    </div>

    <div class="col-md-12">
        <p><strong>User</strong></p>
        <p>{{moment.user.nickname}}</p>
    </div>

     <div class="form-group">
        <label for="privacy">Privacy</label>
        <select class="form-control" name="privacy" #privacy="ngModel" [(ngModel)]="moment.privacy" >
          <option *ngFor="let p of privacies" [value]="p">{{ p }}</option>
        </select>
        
      </div>
</div>
<h2>MomentParts</h2>
<table class="table table-striped" cellspacing="0" cellpadding="0">
     <thead>
                <tr>
                    <th>Text</th>
                    <th>Old Photo</th>
                    <th>New Photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
         <tbody>
                <tr *ngFor="let part of moment.momentParts">
                    <td>{{part.text}}</td>
                    <td><img *ngIf="part.photo.id" [src]="'data:image/jpg;base64,'+part.photo.content" width="20" height="20"/></td>
                    <td ><filereader *ngIf="!part.photo.id" [file]="convertFromResponse(part.photo)"></filereader></td>
                    <td class="actions">
                        <a class="btn btn-success btn-xs" (click)="LoadPart(part)">Edit</a>
                        <a class="btn btn-danger btn-xs" (click)="currentPart=part" data-toggle="modal" data-target="#delete-modal">Delete</a>
                    </td>
                </tr>
                </tbody>
         </table>
<h2>MomentsParts form</h2>

      <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" (change)="changeListner($event)"  #fileInput [(ngModel)]="file" [ngModelOptions]="{standalone: true}" > 
                  <img class="tempimage" />
                
            </div>
         <div class="form-group">
        <label for="text">Text</label>
        <input type="text" class="form-control" name="text" #text="ngModel" [(ngModel)]="currentMomentPart.text" [ngModelOptions]="{standalone: true}" >
      </div>

            <button class="btn btn-default" type="button" (click)="addMomentPart()">Create Part</button> 
            <button class="btn btn-default" type="button" (click)="EditPart()" [disabled]="!edit">Edit Part</button> 
           
       


<hr />
<div id="actions" class="row">
    <div class="col-md-12">
        <a (click)="back()" class="btn btn-primary">Back</a>
        <a (click)="editMoment()" class="btn btn-default">Edit</a>
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#delete-modal">Delete</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Delete moment</h4>
            </div>
            <div class="modal-body">
                Do you want to remove this item ?
            </div>
            <div class="modal-footer">
                <button type="button" (click)="delete(moment)" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

</template>
