<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">Daring Duck</a>
            <a class="navbar-brand" (click)="goToPage('user')">User</a>
            <a class="navbar-brand" (click)="goToPage('course')">Course</a> 
            <a class="navbar-brand" (click)="goToPage('moment')">Moment</a>  
            <a class="navbar-brand" (click)="goToPage('image')">Image</a>      
         </div>
         </div>
    
</nav>

<div id="main" class="container-fluid" style="margin-top: 50px">
    <router-outlet></router-outlet>
</div>
