<div class="container">
  
    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="model.username" required>
        <div class="alert alert-danger" [hidden]="username.valid">Name is required</div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" required>
        <div class="alert alert-danger" [hidden]="password.valid">Password is required</div>
      </div>

      <div class="form-group">
        <label for="role">Roles</label>
        <select class="form-control" name="role" #role="ngModel" [(ngModel)]="model.role" >
          <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
        </select>
        
      </div>

      <div class="form-group">
        <label for="role">Gender</label>
        <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="model.gender" >
          <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
        </select>
       
      </div>

       <div class="form-group">
        <label for="gender">Nickname</label>
        <input type="text" class="form-control" name="nickname" #nickname="ngModel" [(ngModel)]="model.nickname" >
        
      </div>

        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="model.email" >
        
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="model.phone" >
        
      </div>

      <div class="form-group">
        <label for="phone">Wechat</label>
        <input type="text" class="form-control" name="wechat" #wechat="ngModel" [(ngModel)]="model.wechat" >
        
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Submit</button>
    </form>
 
  
</div>
